---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import "../styles/tobii.min.css";
---
<MainLayout title="Uperfekt er perfekt">
	<article class="p-4 md:p-0">
		<section class="max-w-xl mx-auto mt-32" id="titel">
			<Heading htmlheading="h1" size="verylarge" font="display" stylingclasses="">Uperfekt er perfekt</Heading>
		</section>
		<section class="max-w-4xl mx-auto mt-32" id="herovideo">
			<video width="1280" height="960" autoplay muted loop>
				<source src="/pierre-falcke-video.mp4" type="video/mp4">
			</video> 
		</section>
		<section class="max-w-xl mx-auto mt-32" id="manchet">
			<Text teksttype="manchet">Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.</Text>
			<div>
				<a href="/images/pierre.jpeg" class="lightbox">
					<img src="/images/pierre.jpeg" alt="" class="not-prose"/>
					<figcaption><Text teksttype="konsultativ">Pierre Falcke, selvportræt</Text></figcaption>
				</a>
			</div>
			<Text teksttype="statement">Pierre sælger 2 millioner fotos om året</Text>
			<Text teksttype="statement">Det svarer til én fotolicens hvert 16. sekund</Text>
			<Text teksttype="statement">Du ser hans fotos ca. 2 gange om dagen</Text>
		</section>
		<section class="max-w-4xl mx-auto my-32 border border-double border-black p-8" id="hvaderstockfotos">
			<Heading htmlheading="h2" size="medium" font="sans" stylingclasses="">Hvad er stock-fotos?</Heading>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
				<div>
					<Text teksttype="brødtekst">Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</Text>
					<img src="/images/arbejde.jpg" alt="" />
				</div>
				<div>
					<Text teksttype="brødtekst">Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</Text>
					<img src="/images/apoteket.jpg" alt="" />
				</div> 
				<div>
					<Text teksttype="brødtekst">Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</Text>
					<img src="/images/godt-arbejde.jpg" alt="" />
				</div>
			</div>
		</section>
		<section class="max-w-xl mx-auto mt-32" id="pierresberoemmelse">
			<Heading htmlheading="h2" size="large" font="sans" stylingclasses="">Pierres berømmelse</Heading>
			<Text teksttype="brødtekst">Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.</Text>
			<Text teksttype="brødtekst">Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil. </Text>
			<Text teksttype="brødtekst">På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</Text>
			<Text teksttype="brødtekst">Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</Text>
			<Text teksttype="brødtekst">Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX. </Text>
		</section>
		<section id="enskillevej">
			<div class="max-w-xl mx-auto mt-32">
				<Heading htmlheading="h2" size="large" font="sans" stylingclasses="">En skillevej</Heading>
				<Text teksttype="brødtekst">Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.</Text>
				<Text teksttype="brødtekst">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</Text>
			</div>
			<div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center">
				<div>
					<a href="/images/glitch.jpg" class="lightbox">
						<img src="/images/glitch.jpg" alt="" class="not-prose" />
						<figcaption><Text teksttype="konsultativ">Glitch kunst</Text></figcaption>
					</a>
				</div>
				<div>
					<a href="/images/lomo-smena-17.jpg" class="lightbox">
						<img src="/images/lomo-smena-17.jpg" alt="" class="not-prose" />
						<figcaption><Text teksttype="konsultativ">Dobbelteksponering med Smena</Text></figcaption>
					</a>
				</div>
			</div>
			<div class="max-w-xl mx-auto">
				<Text teksttype="brødtekst">Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</Text>
			</div>
		</section>
		<section class="max-w-4xl mx-auto my-32 border border-double border-black p-8" id="fotoeksperimenter">
			<Heading htmlheading="h2" size="large" font="sans" stylingclasses="">Fotoeksperimenter</Heading>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
				<div>
					<Heading htmlheading="h3" size="medium" font="sans" stylingclasses="">Analog foto</Heading>
					<Text teksttype="brødtekst">Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker. </Text>
					<Text teksttype="brødtekst">Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.</Text>
				</div>
				<div>
					<Heading htmlheading="h3" size="medium" font="sans" stylingclasses="">Glitch art</Heading>
					<Text teksttype="brødtekst">Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</Text>
					<p></p>
				</div>
				<div>
					<Heading htmlheading="h3" size="medium" font="sans" stylingclasses="">Lomografi</Heading>
					<Text teksttype="brødtekst">Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt.</Text>
					<Text teksttype="brødtekst">Det kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.</Text>
				</div>
			</div>
		</section>
		<section id="nybegyndelse">
			<div class="max-w-xl mx-auto my-32">
				<Heading htmlheading="h2" size="large" font="sans" stylingclasses="">En ny begyndelse</Heading>
				<Text teksttype="brødtekst">Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde. Som Pierre selv udtrykker det: <span class="italic">“Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.”</span></Text>
			</div>
			<div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center">
				<div>
					<a href="/images/over-out-icm.jpeg" class="lightbox">
						<img src="/images/over-out-icm.jpeg" alt="" class="not-prose" />
						<figcaption><Text teksttype="konsultativ">Overeksponeret og ude af fokus</Text></figcaption>
					</a>	
				</div>
				<div>
					<a href="/images/tynd-film.jpg" class="lightbox">
						<img src="/images/tynd-film.jpg" alt="" class="not-prose" />
						<figcaption><Text teksttype="konsultativ">Tynd film</Text></figcaption>
					</a>
				</div>
			</div>
			<div class="max-w-xl mx-auto my-32">
				<Text>Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.</Text>
				<Text>Som Pierre forklarer det: <span class="italic">“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.”</span></Text>
				<div>
					<a href="/images/lidtifem-pierre-falcke.jpg" class="lightbox" alt="">
						<img src="/images/lidtifem-pierre-falcke.jpg" alt="" class="not-prose" />
						<figcaption><Text teksttype="konsultativ">Lidt i fem - ny bog af Pierre Falcke</Text></figcaption>
					</a>			
				</div>
			</div>
		</section>
	</article>
</MainLayout>
<script is:inline src="/tobii.min.js"></script>
<script defer>
	const tobii = new Tobii(); 
</script>